.start-free-btn:hover {
    background-color: #896baa;
    border-color: #e7e3ed;    
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.btn-grey{    
    background-color: rgb(228, 228, 228) !important;
    
}
.btn-grey:hover{
    background-color: rgb(228, 228, 228, 0.3) !important;
}
.btn-voilet{
    background-color: rgb(133, 74, 246) !important;
    color: white !important; ;
}
.btn-voilet:hover{
    background-color: rgb(133, 74, 246, 0.8) !important;
}
.